# Automated City Pairing for Causal Analysis

This notebook iterates through all available cities, identifies suitable control candidates using advanced metrics, and exports the findings to `city_pairings.csv`. This automates the selection process for any configuration of target and controls.

In [60]:
import pandas as pd
import numpy as np
import warnings
from statsmodels.tsa.stattools import adfuller, grangercausalitytests
from tqdm import tqdm

warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

# Constants from causal_impact.ipynb
target_col = 'Barcelona' # Default example
pre_beg, pre_end = '2023-01-01', '2023-05-31'
t1_thresh = 0.8
t2_thresh = 0.6

## 1. Load and Prepare Data

In [61]:
df_long = pd.read_csv('sales_data.csv')
df_long['Date'] = pd.to_datetime(df_long['Date'])
df = df_long.pivot(index='Date', columns='City', values='Value')
df.index.freq = 'D'

cities = sorted(df.columns.tolist())
print(f"Processing {len(cities)} cities...")

Processing 23 cities...

## 2. Refined Selection Step (Sequential Stationarity)

We evaluate each of the 20 cities. A city is selected if it has high correlation AND can be made stationary through our standard pipeline.

In [62]:
def get_stationary_transform(series, seasonal_period=7):
    """Returns (step_name, transform_func) or (None, None)."""
    def is_stationary(s):
        try:
            return adfuller(s.dropna())[1] < 0.05
        except:
            return False

    if is_stationary(series):
        return "Raw", lambda s: s
    
    try:
        s_log = np.log(series)
        if is_stationary(s_log): return "Log", lambda s: np.log(s)
        
        s_diff = s_log.diff()
        if is_stationary(s_diff): return "Log+Diff", lambda s: np.log(s).diff()
        
        s_seasonal = s_diff.diff(seasonal_period)
        if is_stationary(s_seasonal): 
            return "Log+Diff+Seasonal", lambda s: np.log(s).diff().diff(seasonal_period)
    except:
        pass
        
    return None, None

## 3. Batch Evaluation (Adapting select_best_controls loop)

In [63]:
results = []
df_pre = df.loc[pre_beg:pre_end]

for target in tqdm(cities, desc="Targets"):
    for city in cities:
        if target == city:
            continue
            
        corr_raw = df_pre[target].corr(df_pre[city])
        step_name, transform_func = get_stationary_transform(df_pre[city])
        
        corr_trans = None
        granger_p = None
        var_ratio = None
        
        if step_name:
            s_city_trans = transform_func(df_pre[city]).dropna()
            s_target_trans = transform_func(df_pre[target]).dropna()
            
            # Behavioral Correlation
            joined = pd.concat([s_city_trans, s_target_trans], axis=1).dropna()
            corr_trans = joined.iloc[:, 0].corr(joined.iloc[:, 1])
            
            # Granger Causality
            try:
                granger_result = grangercausalitytests(joined[[target, city]], maxlag=2, verbose=False)
                granger_p = granger_result[1][0]['params_ftest'][1]
            except: granger_p = 1.0
            
            # Variance Ratio (Volatility Matching)
            var_ratio = s_city_trans.std() / s_target_trans.std()
        
        # Initial Assignment with Variance and Correlation Filter (Verbatim logic)
        tier = "None"
        if corr_trans and corr_trans > t1_thresh:
            if 0.5 < var_ratio < 2.0:
                tier = "Tier 1 (Strict)"
            else:
                tier = "Rejected (High Variance)"
        elif corr_trans and corr_trans > t2_thresh and corr_raw > t2_thresh:
            tier = "Tier 2 (Fallback)"
        
        results.append({
            'Target': target,
            'City': city,
            'Correlation_Raw': corr_raw,
            'Correlation_Transformed': corr_trans,
            'Granger_p_value': granger_p,
            'Variance_Ratio': var_ratio,
            'Selection_Tier': tier
        })

pairings_df = pd.DataFrame(results)
pairings_df.to_csv('city_pairings.csv', index=False)
print(f"\nSaved {len(pairings_df)} pairs to city_pairings.csv")

Targets:  61%|██████    | 14/23 [00:02<00:01,  7.06it/s]C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\benoi\AppData\Roaming\Python\Python314\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
Targets: 100%|██████████| 23/23 [00:03<00:00,  6.91it/s]

Saved 506 pairs to city_pairings.csv

## 4. Summary of Top Pairs

In [64]:
top_pairs = pairings_df[pairings_df['Selection_Tier'] == 'Tier 1 (Strict)'].sort_values('Correlation_Transformed', ascending=False)
top_pairs.head(10)

,Target,City,Correlation_Raw,Correlation_Transformed,Granger_p_value,Variance_Ratio,Selection_Tier
207,City_17,City_18,0.990597,0.990597,1.660581e-01,1.022615,Tier 1 (Strict)
97,City_12,City_18,0.989543,0.989543,3.781585e-02,1.000213,Tier 1 (Strict)
428,City_8,City_18,0.989489,0.989489,1.224329e-03,0.991518,Tier 1 (Strict)
450,City_9,City_18,0.989385,0.989385,1.606140e-02,0.996888,Tier 1 (Strict)
141,City_14,City_18,0.988692,0.988692,5.985649e-04,1.003936,Tier 1 (Strict)
274,City_2,City_18,0.987244,0.987244,7.442489e-03,0.994353,Tier 1 (Strict)
252,City_19,City_18,0.987059,0.987059,1.136304e-02,0.984416,Tier 1 (Strict)
9,Barcelona,City_18,0.964407,0.964407,1.704631e-04,1.124694,Tier 1 (Strict)
296,City_20,City_18,0.878066,0.878066,2.395668e-11,0.734666,Tier 1 (Strict)
494,City_Spurious,City_18,0.867317,0.867317,4.357006e-20,0.803994,Tier 1 (Strict)

## 5. Power and Volume Calculator

We estimate the **Minimum Detectable Effect (MDE)** to ensure the experiment is sufficiently powered.

In [65]:
def calculate_mde_refined(target_series, control_series, post_days=14, confidence=0.95, power=0.8):
    """
    Approximates MDE for the cumulative (total) impact over N days.
    Logic: To detect a shift in the total sales, the total incremental units sold
    must exceed the standard error of the cumulative sum of residuals.
    Formula: MDE_total = z_combined * sigma_daily * sqrt(N)
    """
    from scipy.stats import norm
    import statsmodels.api as sm
    
    # 1. Critical values
    z_alpha = norm.ppf(1 - (1 - confidence) / 2)
    z_beta = norm.ppf(power)
    z_combined = z_alpha + z_beta
    
    # 2. Get high-frequency residual noise (Stationary Noise)
    y = target_series.diff().dropna()
    x = control_series.diff().dropna()
    
    x_reg = sm.add_constant(x)
    model = sm.OLS(y, x_reg).fit()
    sigma_daily = np.sqrt(model.mse_resid)
    
    # 3. Detection Threshold for the TOTAL sum over post_days
    total_incremental_units_required = z_combined * sigma_daily * np.sqrt(post_days)
    
    # Percentage MDE vs baseline total volume
    baseline_total_volume = target_series.mean() * post_days
    mde_pct = total_incremental_units_required / baseline_total_volume
    
    return mde_pct, total_incremental_units_required

def batch_power_analysis(df_top, df_all, durations=[14, 30]):
    power_results = []
    for _, row in df_top.iterrows():
        target, city = row['Target'], row['City']
        s_target = df_all[target].loc[pre_beg:pre_end]
        s_city = df_all[city].loc[pre_beg:pre_end]
        
        res = {"Target": target, "Control": city}
        for d in durations:
            mde_p, mde_a = calculate_mde_refined(s_target, s_city, post_days=d)
            res[f"Volume_{d}d"] = s_target.mean() * d
            res[f"MDE_{d}d (%)"] = mde_p
            res[f"Impact_{d}d_Total"] = mde_a
            
        power_results.append(res)
    
    return pd.DataFrame(power_results)

# Run for Tier 1 pairs
power_df = batch_power_analysis(top_pairs.head(10), df)

# Formatting
cols_v = [c for c in power_df.columns if "Volume" in c]
cols_pct = [c for c in power_df.columns if "(%)" in c]
cols_abs = [c for c in power_df.columns if "Total" in c]
display_cols = ["Target", "Control"] + cols_v + cols_pct + cols_abs

format_dict = {col: "{:.2%}" for col in cols_pct}
format_dict.update({col: "{:.0f}" for col in cols_abs})
format_dict.update({col: "{:.0f}" for col in cols_v})

power_df[display_cols].style.format(format_dict)

### Glossary & Interpretation Guide

| Term | Definition |
| :--- | :--- |
| **Target** | The city where you plan to launch the campaign/intervention. |
| **Volume_{d}d** | The total expected sales units in the target city over a {d}-day period. |
| **Control** | The city acting as the benchmark. |
| **MDE (%)** | **Minimum Detectable Effect**. The smallest percentage lift in total sales required over the period for statistical significance. |
| **Impact_{d}d_Total** | **Absolute Detection Threshold**. The total number of *additional* units you need to sell across the **entire {d}-day window** to be sure the result is real.